<div class="content-wrapper">

    <br>
    <section class="content" *ngIf="student">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <mat-card>
                        <mat-card-title>
                          <div class="text-center">
                            <mat-icon>
                              account_circle
                            </mat-icon>
                          </div>
            
                          <h3 class="profile-username text-center">
                            {{ student.nume }} {{ student.prenume }}
                          </h3>
                        </mat-card-title>
                        <mat-card-content>
                          <ul class="list-group mb-3">
                            <li class="list-group-item">
                              <b>Facultate: </b> <a>{{ student.facultate }}</a>
                            </li>
                            <li class="list-group-item">
                              <b>Specializare: </b> <a>{{ student.specializare }}</a>
                            </li>
                            <li class="list-group-item">
                              <b>An: </b> <a>{{ student.anDeStudiu }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Grupa: </b> <a>{{ student.grupa }}</a>
                              </li>
                              <li class="list-group-item">
                                <b>Subgrupa: </b> <a>{{ student.subgrupa }}</a>
                              </li>
                              <li class="list-group-item">
                                <b>Finalizat: </b> <a>{{ student.finalizat }}</a>
                              </li>
                          </ul>
                        </mat-card-content>
                      </mat-card>

                </div>  
                
                <mat-card class="spatiu-lucrari">
                    <mat-card-title>Note si lucrarile studentului</mat-card-title>
                    <br>
                    <mat-card-content>

                              <ng-container *ngFor="let lucrare of student.lucrari; let i = index"> 

                                <ng-container *ngIf="lucrare.nota!=null">
                                  <a class="link" [href]="sanitize(lucrare.serverPath)" target="_blank" rel="noreferrer noopener">
                                    {{lucrare.nume}} 
                                  </a> &nbsp;&nbsp; - &nbsp;&nbsp;Nota: &nbsp; {{lucrare.nota}}
                                </ng-container>

                                <ng-container *ngIf="lucrare.nota==null">
                                  <a class="link" [href]="sanitize(lucrare.serverPath)" target="_blank" rel="noreferrer noopener">
                                    {{lucrare.nume}} 
                                  </a>
                                  <br>
                                  <br>
                                  
                                  <form [formGroup]="formGroup" (submit)="trimiteNota(lucrare, i)">
                                    <mat-form-field class="nota">
                                      <mat-label>Nota</mat-label>
                                      <mat-select [formControlName]="i">
                                        <mat-label>Nota</mat-label>
                                        <mat-option *ngFor="let nota of counter(10); let n = index" [value]="n+1" >
                                          {{n+1}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                    <td><button mat-raised-button color="primary" type="submit" [disabled]="checkIfFormIsEmpty(i)">Seteaza nota</button></td>
                                  </form>
                                </ng-container>
                                 
                                 <br>
                                 <br>
                                
                              </ng-container>

                    </mat-card-content>
                </mat-card>

            </div>

            <br>

            <div class="row">
                <app-import-lucrare></app-import-lucrare> &nbsp; &nbsp; <p class="size-warning"> - Lucrarea trebuie sa aiba maxim 1 MB!!! </p>
            </div>

        </div>
    </section>

</div>