<mat-list>
  <mat-list-item routerLink="{{routes.HOME}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>home</mat-icon> Home
  </mat-list-item>
  <mat-list-item routerLink="{{routes.STUDENTI}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>people</mat-icon> Studenti
  </mat-list-item>
  <mat-list-item routerLink="{{routes.COMPARARE}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>file_copy</mat-icon> Comparara 2 lucrari
  </mat-list-item>
  <mat-list-item routerLink="{{routes.COMPARARE_LUCRARE}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>file_copy</mat-icon> Comparara o lucrare
  </mat-list-item>
</mat-list>
