<div class="switcher">
  <input class="day-night-switch" type="checkbox" id="day-night" (change)="changeTheme($event)"/>
  <label class="day-night-switch" for="day-night">
    <div class="celestial sun"></div>
    <div class="celestial moon">
      <div class="craters">
        <div class="crater"></div>
        <div class="crater"></div>
        <div class="crater"></div>
        <div class="crater"></div>
        <div class="crater"></div>
      </div>
    </div>
    <div class="decorations">
      <div class="decoration"></div>
      <div class="decoration"></div>
      <div class="decoration"></div>
      <div class="decoration"></div>
    </div>
    <div class="mountains">
      <div></div>
      <div></div>
    </div>
  </label>
</div>
