.text-header {
    position: relative;
    top: 5vh;
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
    color: #19a9e2;
}

.text {
    position: relative;
    top: 10vh;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #19a9e2;
}